.home-feed {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.home-nav {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--shadow);
  box-shadow: 0px 10px 15px var(--dark-shadow);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-repeat: no-repeat;
  background-position: 10px 20%;
  background-size: 110px 90px;
  z-index: 1;
  width: 100%;
  min-height: 180px;
}

.home-nav--dark {
  background-image: url("../../../../../assets/images/CourseT.svg");
}

.home-nav--light {
  background-image: url("../../../../../assets/images/CourseTB.svg");
}

.home-nav :is(h1, h2, h3, h4, h5, h6) {
  background-color: transparent;
}

.home-nav-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  background-color: transparent;
}

.home-feed-material {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
  background-color: transparent;
  color: var(--text-color);
  font-size: 12px;
  overflow-y: scroll;
}

/* 
Dialog Section 
*/

.instructor-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.instructor-options-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dialog {
  height: fit-content;
  width: min-content;
  padding: 2rem;
  margin: auto;
  border-radius: 12px;
  border: 2px solid var(--shadow);
}

.announcement {
  min-height: 200px;
  min-width: 300px;
  outline: 1px var(--shadow) solid;
  border-radius: 12px;
  padding: 1rem;
}

.announcement:focus {
  outline: 2px var(--primary-green) solid;
}

.announce-dialog-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialog-options {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-overflow: ellipsis;
  gap: 2rem;
}

.dialog-left-section {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0;
  gap: 3rem;
  border-right: 1px var(--shadow) solid;
}

.dialog-right-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.dialog-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown-menu {
  border: 1px var(--shadow) solid !important;
  border-radius: 5px;
  padding: 2px;
  outline: none;
  color: var(--text-color);
}

option {
  background-color: var(--background-color);
}

.drop-zone {
  padding: 15px;
  border: 2px var(--primary-green) dashed;
  border-radius: 12px;
}

.drop-zone-preview {
  height: 50px;
  width: 50px;
}

.drop-zone-area {
  width: 300px;
  color: var(--text-color);
}

.dialog-preview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialog-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

/* 
Material Card Section
 */

.material-card {
  height: min-content;
  width: 100%;
  min-width: fit-content;
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 1;
  position: relative;
  border: 1px var(--shadow) solid;
  border-top-left-radius: 12px;
}

.material-info-section {
  display: flex;
}

.material-name-type {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.material-card * h2 {
  font-size: 13px;
  font-weight: 900;
}
.material-card * h3 {
  font-size: 11px;
}
.material-card * p {
  font-size: 11px;
}

.material-date-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.material-card-buttons {
  max-width: fit-content;
  height: fit-content;
  display: flex;
  gap: 0.3rem;
}

.material-card-button {
  height: 28px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border: 1px var(--shadow) solid;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

.material-card-button:is(:hover, :focus) {
  background-color: var(--primary-green);
  transition: 150ms ease-in-out;
}

.file-section {
  font-size: 12px;
  color: var(--primary-green);
  font-weight: 500;
}

.file-type-img {
  min-width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: var(--shadow);
  padding: 5px;
}

.file-type-img > img {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

@media screen and (width<1211px) {
  .material-card-button {
    display: none;
  }
  .material-card {
    width: 100%;
  }
}
