.login-body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-body--left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7px;
  color: var(--background-color);
  background-color: var(--primary-green);
  position: relative;
}

.login-body--left > h1 {
  background-color: transparent;
  font-size: 47px;
  text-align: center;
  color: var(--background-color);
}

/* body section right */

.login-body--right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  position: relative;
}

section {
  background-color: transparent;
  padding: 5px;
}

.login-icon {
  position: absolute;
}

.login-icon--board {
  right: 2rem;
  bottom: 8rem;
}

.login-icon--brain {
  left: 2rem;
  bottom: 8rem;
}

.login-icon--atom {
  left: 2rem;
  top: 10rem;
}
.login-icon--rocket {
  right: 2rem;
  top: 11rem;
}

.login-icon--molecule {
  right: 0rem;
  top: 50%;
}

.login-icon--bulb {
  left: 0rem;
  top: 50%;
}

.input-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-section--text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 0.5rem;
}

.login-body--right > button {
  width: 350px;
}

.input-section--text > label {
  font-size: 13px;
}

.user-types {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.pass-input {
  position: relative;
}

.vis-icon {
  position: absolute;
  top: 55%;
  right: 15px;
  cursor: pointer;
}
