.type-checkbox {
  width: 168px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--shadow);
  border-radius: 12px;
  background-color: transparent;
  cursor: pointer;
}

.type-checkbox * {
  background-color: transparent;
}

.checked {
  background-color: rgba(68, 148, 31, 0.41);
  border: 2px solid var(--primary-green);
}

.img-cover {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-cover > img {
  height: 70%;
  width: 100%;
  object-fit: contain;
}
