.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: min-content;
  width: 15vw;
  height: 100%;
  padding: 20px;
  position: sticky;
}

.side-bar--dark {
  background-color: var(--dark-shadow);
}
.side-bar--light {
  background-color: var(--secondary-green);
}

.side-bar * {
  background-color: transparent;
  color: var(--primary-white);
}

.side-bar-upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-bar-upper > h3 {
  text-align: center;
}

.side-bar-lower {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.side-bar-img {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-img > img {
  border-radius: 50%;
}

.side-bar-classes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
