.course-display {
  width: 100%;
  padding: 50px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.courses-wrapper {
  display: flex;
  gap: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}
