* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "CustomFont";
  src: url("../assets/fonts/static/Montserrat-Medium.ttf") format("truetype");
}

body * {
  font-family: "CustomFont", sans-serif;
  background-color: var(--background-color);
}

:root {
  --primary-green: rgb(82, 191, 31);
  --secondary-green: rgb(39, 130, 24);
  --primary-black: rgb(17, 17, 17);
  --primary-white: rgb(245, 245, 245);
  --background-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --inverted-text-color: rgb(255, 255, 255);
  --shadow: rgba(106, 106, 106, 0.999);
}

[dark-theme="dark"] {
  --primary-green: rgb(68, 148, 31);
  --secondary-green: rgb(39, 130, 24);
  --primary-black: rgb(17, 17, 17);
  --primary-white: rgb(245, 245, 245);
  --background-color: rgb(13, 13, 13);
  --text-color: rgb(255, 255, 255);
  --inverted-text-color: rgb(0, 0, 0);
  --shadow: rgba(106, 106, 106, 0.999);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
}

input {
  border: 1px solid var(--shadow);
  border-radius: 12px;
  min-height: 40px;
  min-width: 350px;
  padding: 10px;
  font-size: 14px;
  color: var(--text-color);
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--text-color) !important;
}

label {
  color: var(--text-color);
}

input:is(:focus, :active) {
  border: 2px solid var(--primary-green);
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--text-color);
}

img {
  background-color: transparent;
}

button {
  --_button-color: var(--button-color, var(--primary-green));
  --_button-text-color: var(--button-text-color, var(--primary-black));
  --_button-shadow: var(--button-shadow, none);
  padding: 12px;
  height: max-content;
  font-size: 10px;
  font-weight: 600;
  border-radius: 12px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  background-color: var(--_button-color);
  color: var(--_button-text-color);
  box-shadow: 0 0 10px var(--_button-shadow);
}

.green--button {
  border: 0;
  --button-text-color: var(--primary-white);
}

.black--button {
  border: 0;
  --button-color: var(--primary-black);
  --button-text-color: var(--primary-white);
}

.white--button {
  --button-color: var(--primary-white);
  --button-text-color: var(--primary-black);
}

.green--button:is(:hover, :focus) {
  --button-shadow: var(--primary-green);
  border: none;
  transition: all 0.3s ease-in-out;
}

.black--button:is(:hover, :focus) {
  --button-shadow: var(--text-color);
  border: none;
  transition: all 0.3s ease-in-out;
}

.white--button:is(:hover, :focus) {
  --button-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
}
